<!DOCTYPE html>
<div class="header-middle">
<h1>Hey! I'm Geechii!</h1>
<p>ILLUSTRATOR・CHARACTER DESIGNER ・VTUBER ARTIST</p>
</div>
<div class="links">
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">Twitch</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">X</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">BlueSky</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">Instagram</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">TikTok</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">Patreon</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">VGen</div></a>
    <a target="_blank" href="https://www.twitch.tv/geechiisartworks"><img src="assets/links/twitch.webp" alt><div class="hidden-label">YouTube</div></a>
</div>
