<!DOCTYPE html>

<section class="light-section">
<div class="header-middle">
    <h2>About Me</h2>
    <h3>Geechii - NoiX</h3>
</div>
    <div class="about">
        <div class="profile">
            <div class="header-middle">
            <img src="assets/about/about_profile.png" alt="">
            <ul>
                <h4>USED SOFTWARE</h4>
                <li>Clip Studio Paint</li>
                <li>DesignDollt</li>
                <h4>TABLET</h4>
                <li>Wacom Cintiq Pro 24</li>
            </ul>
        </div>
        </div>
            <div class="text">
            <ul>
                <p>Welcome! My name is Geechii, I am a Digital Illustrator from Germany.</p>
                <p>I enjoy streaming on Twitch as my Vtuber Geechii / Noi X, a Cyborg-Neko.</p>
                <li>2020 I started accepting Commissions and worked on ClipStudio Paint and learned to draw more regularly and different art skills</li>
                <li>2022 I had my Debut as a Vtuber on Twitch, this was my real starting point as a streamer.</li>
                <li>2023 I worked on my big Re-Debut - Vtuber model 1.2 &amp; 2.0</li>
            </ul>
        </div>
    </div>
</section>
