<!DOCTYPE html>

<section class="dark-section">
<div class="header-middle">
    <h2>Gallery</h2>
</div>
<div class="gallery">
    <div class="category">
        <div class="text">
            <h3>OG - NoiX</h3>
            <p>Original Art of my Character</p>
        </div>
        <img src="assets/gallery/ognoix/og_geechii1.png" alt="OG NoiX">
    </div>
    <div class="category">
        <div class="text">
            <h3>Illustrations</h3>
            <p>Illustrations I made</p>
        </div>
        <img src="assets/gallery/illustrations/illu_shylily1.png" alt="Illustrations">
    </div>
    <div class="category">
        <div class="text">
            <h3>Character Designs</h3>
            <p>Character Designs of VTubers</p>
        </div>
        <img src="assets/gallery/chardesign/design_moerli1.png" alt="Character Designs">
    </div>
    <div class="category">
        <div class="text">
            <h3>Other</h3>
            <p>Random other Projects</p>
        </div>
        <img src="assets/gallery/other/other_bird1.png" alt="Other Projects">
    </div>
</div>
</section>
