<!DOCTYPE html>

<section class="dark-section">
    <div class="header-middle">
        <h2>TERMS OF SERVICE</h2>
        <p>PLEASE READ EVERYTHING CAREFULLY BEFORE COMMISSIONING ME!</p>
        </div>
        <h3>USER AGREEMENT</h3>
        <p>By commissioning me, you agree that you have read and accepted all the terms described herein.
            You will agree here to the policy of using the art for personal, non-profit purposes unless otherwise stated, and provide all image credits to me.
            Violators will be added to my blacklist indefinitely and without warning.</p>
        <h3>GENERAL</h3>
        <h4>CLIENT</h4>
        <ul>
            <li>You, the Client, will be expected to first read my TOS and understand my general Commission Prices.</li>
                <li>You, the Client, may display my work on external sites as long as it is visibly credited and linked back to me.</li>
                <li>You may not upload or host my work in any gallery that is intended to display your own work only.</li>
                <li>You may not claim my work as your own.</li>
                <li>Please only upload the smaller file publicly unless otherwise discussed.</li>
                <li>You may use the Artwork for personal use including but not limited to: avatars and personal website/profile dis</li>plays.
                <li>You reserve the right to print or create an otherwise physical reproduction of the Artwork as long as it is for</li> your PERSONAL use only (i.e. NOT for sale).
                <li>You may not use the Artwork for redistribution or external projects, commercial or non-commercial (i.e. T-shirt</li>s, mugs, public flyers, etc.) unless otherwise discussed.
                <li>In the case of an adoptable, you retain the rights to the character design.</li>
                <li>You are NOT authorized to heavily change, modify, edit or use my works without my permission.</li>
                <li>You are NOT authorized to trace over my Artwork in any way, including the use of the artwork as a “base.”</li>
                <li>By placing an order, you agree to these terms and conditions. Please read these terms carefully.</li>
                <li>By commissioning me, you are purchasing my service as an artist only.</li>
                <li>I reserve the right to post your finished artwork in my gallery for any reason.</li>
                <li>I reserve the right to decline any project or client for any reason.</li>
                <li>I reserve the right to refund you the full amount paid if I no longer wish to work on your project for any reas</li>on.
                <br>
                <p>I dont draw</p>
                <li>Furry, heavy mecha, elderly, extreme bara, fetish art, hateful art or anything else that makes me uncomfortable. Kids and complex backgrounds</li>
        </ul>
        <h4>COMMERCIAL INFO</h4>
        <ul>
            <p>The commercial fee is an additional 1.5x - 3x fee of the total price of the commission.</p>
             <li>If you, the Client, wish to order a commission for Commercial use, the total price of the commission, as well as any other royalties, will be agreed upon upfront.</li>
            <li>The following cases are considered commercial use: Reproducing and selling the artwork, publicly or privately, cases where you receive profit from a medium/platform where you have posted my artwork, (eg. Patreon, YouTube, Twitch, a personal site, business cards, etc).</li>
            <li>The client undertakes to inform the contractor as soon as there is an interest in duplicating the design or in any way wanting to make a profit from it.</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Tier</th>
                    <th>Contents</th>
                    <th>% Increase</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Tier 1</th>
                    <th>Twitch / Youtube / X [Twitter] Promotion / Postcard Redeem</th>
                    <th>+100%</th>
                </tr>
                <tr>
                    <th>Tier 2</th>
                    <th>Patreon content / personal Site [Homepage]</th>
                    <th>+200%</th>
                </tr>
                <tr>
                    <th>Tier 3</th>
                    <th>Reproducing / Selling / Merch</th>
                    <th>+300%</th>
                </tr>
            </tbody>
        </table>
<h4>ORDERING</h4>
<p>Via Email [Or Homepage ]
    Orders are not first come first served. Each commission is selected based on how well I think I can fulfill the request and whether I personally like the project not.
    References and a description are required to be included in the request!
    If your character is extremely detailed, you will be charged extra. This will be discussed with you before sending the invoice. You're allowed to switch the character out if you don't want to pay extra.</p>
<h4>PAYMENT</h4>
<ul>
    <li>Payment in EURO €.</li>
    <li>All payments are handles per transfer (Europa) outside PayPal.</li>
    <li>Payments must be made within 48hrs after an ivoice hand been received.</li>
    <li>If you dont respond your spot will be given to someone else.</li>
    <li>Invoices will be sent 7 days before the comission work begins.</li>
</ul>
<h4>REFUND POLICY</h4>
<p>All orders are final, and refunds can only be requested if no work has begun on the project.</p>
<h4>FANARTS / GIFTS</h4>
<p>Fanarts and gifts I make for you:</p>
<ul>
    <li>Its only for private usage!</li>
    <li>You can post it on Social Media Platforms!</li>
    <li>You are not allowed to use it for Merchandise!</li>
</ul>
</section>