<!DOCTYPE html>

<section class="light-section">
<div class="header-middle">
    <h2>PRICING</h2>
    <h3>ILLUSTRATIONS</h3>
</div>
<div class="pricing">
    <div class="category">
        <img src="assets/pricing/pricing_chibi.png">
        <div class="text">
            <h3>CHIBI</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="pricing">
    <div class="category">
        <div class="text">
            <h3>CHARACTER ILLUSTRATION</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <img src="assets/pricing/pricing_chibi.png">
    </div>
</div>
<div class="pricing">
    <div class="category">
        <img src="assets/pricing/pricing_chibi.png">
        <div class="text">
            <h3>CHARACTER DESIGN</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <p>Full Body Character with simple background.
        Front view only. Variations = jacket on/off / and Hairstyles
        High character complexity increases the price.</p>
</div>
<div class="pricing">
    <div class="category">
        <div class="text">
            <h3>CHARACTER SHEET</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <img src="assets/pricing/pricing_chibi.png">
    </div>
    <p>Prices for Finished Design [with an old Character Sheet, colored sketch ]
        New Design + 350 €
        High character complexity increases the price.
        NOT ALLOWED TO CHANGE THE DESIGN</p>
</div>
<div class="header-middle topgap">
    <h3>VTUBER</h3>
</div>
<div class="pricing">
    <div class="category">
        <img src="assets/pricing/pricing_chibi.png">
        <div class="text">
            <h3>VTuber</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="pricing">
    <div class="category">
        <div class="text">
            <h3>MASCOT</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <img src="assets/pricing/pricing_chibi.png">
    </div>
</div>
<div class="pricing">
    <div class="category">
        <img src="assets/pricing/pricing_chibi.png">
        <div class="text">
            <h3>Alien Chibi</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="header-middle topgap">
    <h3>ASSETS</h3>
</div>
<div class="pricing">
    <div class="category">
        <div class="text">
            <h3>Stream Graphics</h3>
            <table>
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SIMPLE</td>
                    <td>$200+</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <img src="assets/pricing/pricing_chibi.png">
    </div>
</div>
<div class="header-middle topgap">
<h2>INFO</h2>
<p>Commercial Price is included only for Youtube/Twitch usage. Any other usage has to be discussed and the price may change accordingly.
    Regular stream graphics.</p>
</div>
</section>
